// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------

$blue: #222D43;
$yellow: #f5a425;
$red: #E71D36;
$green: #6ea67a;
$border: gray;

$colors: (
	'blue': #222D43,
	'yellow': #f5a425,
	'red': #E71D36,
	'red-01': rgba(#E71D36, .1),
	'red-02': #fcd6d7,
	'green': #6ea67a,
	'green-01': rgba(#6ea67a, .1),
	'green-02': #e3ede4,
	'white': #fff,
	'gray': #f7f7f7,
);

// -----------------------------------------------------------------------------
//! Breakpoints
// -----------------------------------------------------------------------------

$sm: 480px;
$md: 768px;
$lg: 1024px;
$bp-nav: 768px;
$xl: 1200px;

// -----------------------------------------------------------------------------
//! Other
// -----------------------------------------------------------------------------

$pad-x: 24px;
$contain: 1304px;
$contain-with-pad: 1352px;