// -----------------------------------------------------------------------------
//! Media queries
// -----------------------------------------------------------------------------

@mixin min($breakpoint) {
	@media print, screen and (min-width: $breakpoint) {
		@content;
	}
}

@mixin max($breakpoint) {
	$breakpoint: $breakpoint - 1;
	@media screen and (max-width: $breakpoint) {
		@content;
	}
}

@mixin range($start, $end) {
	$end: $end - 1;
	@media screen and (min-width: $start) and (max-width: $end) {
		@content;
	}
}

// -----------------------------------------------------------------------------
//! Visibility
// -----------------------------------------------------------------------------
.show-lg {
	@include max($lg) {
		display: none !important;
	}
}

.is-hidden {
	display: none !important;
}

// -----------------------------------------------------------------------------
//! Text alignment
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//! Flat
// -----------------------------------------------------------------------------

.flat-y {
	padding-top: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.flat-top {
	padding-top: 0 !important;
	margin-top: 0 !important;
}

.flat-bottom {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

// -----------------------------------------------------------------------------
//! Colors
// -----------------------------------------------------------------------------

.color-green {
	color: $green !important;
}

.color-orange {
	color: $orange !important;
}

.color-red {
	color: $red !important;
}

.color-blue {
	color: $blue !important;
}

.color-arb {
	color: darken($color-arb, 5%);
}

.color-fb {
	color: darken($color-fb, 5%);
}

.color-rfb {
	color: darken($color-rfb, 5%);
}

.bg-fb {
	background: $color-fb;
}

.bg-rfb {
	background: $color-rfb;
}
