button.reset {
	border: 0;
	background-color: transparent;
	appearance: none;
	cursor: pointer;
	padding: 0;
}

.btn {
	display: inline-flex;
    align-items: center;
    justify-content: center;
	text-align: center;
	appearance: none;
	border: 0;
	cursor: pointer;
	background-color: $blue;
	color: #fff;
	padding: 16px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	transition: .1s;
	border-radius: 4px;

	&:hover,
	&:focus {
		outline: 0;
		background-color: lighten($blue, 10%);
	}
}

.btn-small {
	padding: 8px;
	font-size: 14px;
	font-weight: 400;
}

.btn-gray {
	background: #d5d3d3;
	color: #222D43;

	&:hover,
	&:focus {
		background: #f5a425;
	}
}