label {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 14px;
	color: var(--color-blue);
	margin-bottom: 5px;

	small {
		color: color-mix(in srgb, var(--color-blue) 70%, transparent);
		margin-left: 12px;
	}

	.asterisk {
		display: inline-block;
		color: var(--color-yellow);
		padding: 0 3px;
		font-size: 15px;
	}
}

.radio label {
	display: inline-block;
	margin-bottom: 0;
}
