.results {
	padding: 24px;
	background-color: rgba($blue, 0.03);
}

.results-ev {
	display: flex;
	justify-content: flex-start;

	.item {
		background-color: #fff;
		border-radius: 4px;
		padding: 12px 16px;
		border: 2px solid rgba(#656565, 0.5);
	}

	.number {
		font-size: 34px;
		line-height: 35px;
		font-weight: 600;
	}

	.item-kelly {
		padding: 12px 16px;
		.number {
			font-size: 30px;
		}

		label {
			font-weight: 400;
			font-size: 12px;
		}
	}
}

.results .leg {
	font-size: 12px;
	border-collapse: collapse;
	border: 1px solid rgba($blue, 0.1);

	th {
		padding: 8px;
		font-weight: 600;
		text-align: center;
		border: 1px solid rgba($blue, 0.1);
	}

	td {
		padding: 8px;
		border: 1px solid rgba($blue, 0.1);
	}

	td:first-child {
		padding-right: 8px;
	}
}

// -----------------------------------------------------------------------------
//! Mobile
// -----------------------------------------------------------------------------

@include max(600px) {
	.results-ev {
		justify-content: flex-start;
		flex: 1 0 100%;
	}
}

.discord-text {
	position: absolute;
	opacity: 0;
	left: -1000px;
}
