aside {
	font-size: 12px;
	line-height: 19px;

	label {
		font-size: 12px;
	}

	p {
		font-size: 12px;
		line-height: 19px;
	}

	h5 {
		font-size: 13px;
		margin-bottom: 8px;
	}

	a {
		color: $blue;
		font-weight: 600;
	}
}
