@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@theme {
    --font-mono: 'Space Mono', monospace;
    --font-sans: 'Oxygen', sans-serif;
    --font-oswald: 'Oswald', sans-serif;

    --color-pink: #e8aeb7;
    --color-red: #a63d40;
    --color-pale-blue: #b8e1ff;
    --color-ice-blue: #a9fff7;
    --color-green: #94fbab;
    --color-slate: #82aba1;
    --color-jet: #02040f;
    --color-regal-blue: #243c5a;
    --color-space: #474a48;
}

/* 5E6973 */
/* C78283 */
