@import 'tailwindcss';

@theme {
	--font-mono: 'Space Mono', monospace;

	--color-pink: #e8aeb7;
	--color-pale-blue: #b8e1ff;
	--color-ice-blue: #a9fff7;
	--color-green: #94fbab;
	--color-slate: #82aba1;
	--color-jet: #02040f;
}
