// -----------------------------------------------------------------------------
//! Mixin
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//! Symmetrical layouts
// -----------------------------------------------------------------------------

.grid {
    display: grid;
    grid-template-columns: 100%;
}

// ----------------------------------------o-------------------------------------
//! Parent modifiers
// -----------------------------------------------------------------------------

.grid.align-start {
    align-items: start;
}

// -----------------------------------------------------------------------------
//! Children modifiers
// -----------------------------------------------------------------------------

.gw-100 {
    grid-column: 1 / -1;
}
