// -----------------------------------------------------------------------------
//! Display
// -----------------------------------------------------------------------------

.block {
    display: block;
}

.inline-flex {
    display: inline-flex;
}

.inline {
    display: inline;
}

// -----------------------------------------------------------------------------
//! Squares
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//! Other
// -----------------------------------------------------------------------------

.scroll {
    overflow: auto;
}
