// -----------------------------------------------------------------------------
//! Display
// -----------------------------------------------------------------------------

.block {
	display: block;
}

.inline-flex {
	display: inline-flex;
}

.inline {
	display: inline;
}

@include attr-x('op', 'opacity', 1, 100, '%');

// -----------------------------------------------------------------------------
//! Squares
// -----------------------------------------------------------------------------

@include attr-x('sq', 'width', 4, 25, 'px', 'height');

@include min( $md ) {
    @include attr-x('md-sq', 'width', 4, 25, 'px', 'height');
}

@include min( $lg ) {
    @include attr-x('lg-sq', 'width', 4, 25, 'px', 'height');
}

// -----------------------------------------------------------------------------
//! Other
// -----------------------------------------------------------------------------

.scroll {
	overflow: auto;
}