.rel {
	position: relative;
}

.abs {
	position: absolute;
}

.abs-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-50%);
}

.abs-cover {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

@include attr-x('top', 'top', 4, 25);
@include attr-x('left', 'left', 4, 25);
@include attr-x('right', 'right', 4, 25);
@include attr-x('bottom', 'bottom', 4, 25);