// -----------------------------------------------------------------------------
//! Show/hide at breakpoints
// -----------------------------------------------------------------------------

.hide-md {
	@include min($md) {
		display: none !important;
	}
}

.show-md {
	@include max($md) {
		display: none !important;
	}
}

.hide-lg {
	@include min($lg) {
		display: none !important;
	}
}

.show-lg {
	@include max($lg) {
		display: none !important;
	}
}

.is-hidden {
    display: none !important;
}

// -----------------------------------------------------------------------------
//! Show on hover
// -----------------------------------------------------------------------------

.show-hover {
	opacity: 0;
}

*:hover > .show-hover {
	opacity: 1;
}